* {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.profile, .comment-adder {
  display: flex;
  align-items: center;
}

.profile h2 {
  font-weight: 200;
  font-size: 40px;
}

.profile img {
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 50%;
  height: 60px;
}

.app-header {
  background-color: #24292e;
  color: rgba(255,255,255,0.75);
  position: fixed;
  top: 0;
  height: 50px;
  line-height: 50px;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
}

.app-header input {
  margin-left: 30px;
  margin-right: 10px;
}

input, textarea {
  outline: none !important;
}

input {
  border: none;
}

.app-body {
  margin-top: 60px;
}

.comment-adder {
  margin-left: 40px;
  margin-right: 10px;
  width: 600px;
}

.comment-adder textarea {
  width: 450px;
}

.comment-adder-button {
  margin-left: 15px;
  cursor: pointer;
}

.comment-deleter {
  margin-left: 8px;
  cursor: pointer;
  color: #cb2431;
}

.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  background-color: #e1e4e8;
  border-radius: 6px;
  padding: 10px;
  white-space: pre-wrap;
}
